body {
  background-color: var(--bg-login-color);
  min-height: 100vh;
}

/* Card Content */
.cardForgotPassword {
  background-color: var(--white);
  max-width: 30%;
  border-radius: var(--rounded-card);
  box-shadow: var(--shadow-card);
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.wrapperLogin {
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.titleDescription>h2 {
  font-size: 3rem;
  line-height: 2.5rem;
}

.passwordInput>div {
  display: grid;
}

.btn .success {
  background-color: var(--green-primary) !important;
}

.credentialsField>div>input {
  padding-left: .5rem;
  /* transition: .3s; */

  &:focus-visible,
  &:hover {
    border-radius: .2rem;
    border: 2px solid var(--highlight);
    outline: transparent;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .cardForgotPassword {
    min-width: 100%;
    min-height: 100vh;
    padding: 1rem;
    gap: 1.25rem;
  }

  .titleDescription h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .titleDescription>p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .cardForgotPassword {
    min-width: 100%;
    height: 100vh;
    padding: 2rem;
    gap: 1.25rem;
  }

  .titleDescription br {
    display: block;
  }

  .iconFlag {
    height: 6.25rem;
  }

  .titleDescription h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .titleDescription>p {
    font-size: .9rem;
  }

  .resendEmail {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .cardForgotPassword {
    min-width: 100%;
    height: 100vh;
    gap: 2rem;
    padding: 2rem;
  }

  .iconFlag {
    height: 6.25rem;
  }

  .titleDescription h2 {
    font-size: 2.4rem;
    line-height: 2.5rem;
  }

  .titleDescription br {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardForgotPassword {
    min-width: 60%;
    gap: 2rem;
    padding: 2rem;
  }

  .iconFlag {
    height: 6.25rem;
  }

  .titleDescription h2 {
    font-size: 2.4rem;
    line-height: 2.5rem;
  }

  .titleDescription br {
    display: block;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .cardForgotPassword {
    min-width: 40vw;
    gap: 2.5rem;
  }

  .titleDescription h2 {
    font-size: 2.7rem;
    line-height: 2.7rem
  }
}