<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Modal - Senha Concluída -->
    <div class="wrapperLogin" id="passwordSuccessful">
        <div class="cardForgotPassword">
            <div class="cardContent">
                <div class="iconFlag">
                    <i class="fa-solid fa-circle-check" style="color: var(--green-primary);"></i>
                </div>
                <div class="titleDescription">
                    <h2>Nova Senha Cadastrada!</h2>
                    <p>Sua nova senha foi criada com sucesso. Em até <b>3 segundos</b>, a página irá reiniciar para que você possa fazer login novamente.</p>
                </div>
                <div class="verifyCode">
                    <button class="btn success">Retornar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapperLogin">
        <div class="cardForgotPassword">
            <div class="btnBack">
                <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
            </div>
            <div class="cardContent">
                <div class="titleDescription">
                    <h2>Defina uma nova senha</h2>
                    <p>Crie uma nova senha. Certifique-se de que seja diferente das anteriores para a sua segurança.</p>
                </div>
                <div class="credentialsField">
                    <div>
                        <label for="newPassword">Definir Senha</label>
                        <input type="password" id="newPassword" placeholder="Inserir uma nova senha" class="no-spin" />
                    </div>
                    <div>
                        <label for="confirmPassword">Confirmar Senha</label>
                        <input type="password" id="confirmPassword" placeholder="Confirmar nova senha" class="no-spin" />
                    </div>
                    <div>
                        <button class="btn" (click)="dashboard()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer-login></app-footer-login>
</body>

</html>