<section id="customerWrapper">
    <div class="customerSection">
        <form id="customerForm" method="get">
            <div class="companyField" *ngIf="customerData.length > 0">
                <div>
                    <label for="">Nome da Empresa</label>
                    <input type="text" [value]="customerData[0]?.cardName" disabled>
                </div>
                <div>
                    <label for="">ID Contrato</label>
                    <input type="text" [value]="customerData[0]?.bbP_id" disabled>
                </div>
                <div>
                    <label for="">Filial</label>
                    <select (change)="onSelectChange($event)" name="filial" id="filial">
                        <option 
                          *ngFor="let customer of customerData" 
                          [value]="customer.bbP_id" 
                          [selected]="customer.bbP_id.toString() === selectedBbpId">
                          {{ customer.cardName }}
                        </option>
                      </select>
                </div>
            </div>
            <div class="contractField">
                <div>
                    <label for="">Código PN</label>
                    <input type="text" [value]="customerData[0]?.cardCode" disabled>
                </div>
                <div>
                    <label for="">Data Início</label>
                    <input type="text" [value]="formatDate(customerData[0]?.docDate || '')" disabled>
                </div>
                <!-- <div>
                    <label for="">Status</label>
                    <input type="text" value="Em Andamento" disabled>
                </div> -->
                <div>
                    <button type="submit" class="btn" disabled>Enviar Contrato</button>
                </div>
            </div>

        </form>
    </div>
</section>