<div *ngIf="isLoading" class="loading-indicator">
  <div class="spinner"></div>
  <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
  <app-header></app-header>
  <div class="menuContent">
    <app-menu-navigation></app-menu-navigation>
    <div class="w-full">
      <app-customer-field></app-customer-field>
      <section id="configuracoesGerais" class="wrapper">
        <form [formGroup]="formUsuariosSenhas" (submit)="onSubmit()" id="configuracoesGerais">
          <div class="text-center">
            <h2 class="menusTitle">Preencha os campos abaixo para criar os <span class="purple-primary">Usuários SAP!</span></h2>
            <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
              funcionamento da sua empresa.</p>
          </div>

          <!-- Alerta de Atividade -->
          <div class="atvClienteBox">
            <form class="formComponent" (submit)="onSubmit()">
              <table>
                <thead class="tableHeader">
                  <tr>
                    <!-- <th><input type="checkbox" (change)="toggleSelectAllUsuariosSenhas($event)" /></th> -->
                    <!-- <th>#</th> -->
                    <th><button type="button" class="addRow" (click)="addRowsUsuariosSenhas()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                    <th>Super Usuário</th>
                    <!-- <th>codusuario</th> -->
                    <th>Nome Usuário</th>
                    <th>E-mail</th>
                    <th>Celular</th>
                    <th>Filial Departamento</th>
                    <th>Senha</th>
                  </tr>
                </thead>
                <tbody class="teste">
                  <tr *ngFor="let row of rowsUsuariosSenhas; trackBy: trackByFnUsuariosSenhas" class="trow">
                    <td>
                      <button type="button" class="btnDelete" (click)="deleteRow(row)">
                                                    <i class="fa-solid fa-trash"></i> Remover</button>
                                                </td>
                    <td><input type="text" [(ngModel)]="row.super_usuario" name="superUsuario{{row.definir_usuario_senhasid}}" placeholder="Insira o valor..." /></td>
                    <!-- <td><input type="text" [(ngModel)]="row.codusuario" name="codUsuario{{row.definir_usuario_senhasid}}" placeholder="Insira o valor..." /></td> -->
                    <td><input type="text" [(ngModel)]="row.nome_usuario" name="nomeUsuario{{row.definir_usuario_senhasid}}" placeholder="Insira o valor..." /></td>
                    <td><input type="text" [(ngModel)]="row.email" name="email{{row.definir_usuario_senhasid}}" placeholder="Insira o valor..." /></td>
                    <td><input type="text" [(ngModel)]="row.celular" name="celular{{row.definir_usuario_senhasid}}" placeholder="Insira o valor..." /></td>
                    <td><input type="text" [(ngModel)]="row.filial_departamento" name="filialDepartamento{{row.definir_usuario_senhasid}}" placeholder="Insira o valor..." /></td>
                    <td><input type="text" [(ngModel)]="row.senha" name="senha{{row.definir_usuario_senhasid}}" placeholder="Insira o valor..." /></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <div class="btnSave">
            <button type="submit">Salvar</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>