#formPlanoContas {
    max-width: var(--max-width-desktop);
    margin: 0 auto;
}

.plano-contas {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(225, 225, 225);
    padding: 1rem;
    border-radius: var(--rounded-card);
    width: fit-content;
}

.wrapper {
    margin: auto;
    max-width: calc(100vw - 15.375rem);
}

.tableContainer {
    overflow-x: scroll;
}

.fileUpload {
    display: flex;
    flex-direction: column;
}

.fileUpload label {
    padding: 0 1rem;
}