<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <div class="wrapper">
                <form [formGroup]="formPlanoContas" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar o <span class="purple-primary">Plano
                                de Contas!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>
                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><button type="button" class="addRow" (click)="addRowPlanoContas()"><i
                                                    class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                        <th>Descrição</th>
                                        <th>Arquivo</th>
                                        <th>Importe o arquivo</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rowsPlanoContas; trackBy: trackByFn" class="trow">
                                        <td>
                                            <button type="button" class="btnDelete" (click)="deleteRow(row)">
                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                        </td>
                                        <td><input type="text" [(ngModel)]="row.descricao"
                                                name="descricao{{row.plano_Contas_Empresa_anexoid}}"
                                                placeholder="Insira um Insira o valor..." />
                                        </td>
                                        <td>
                                            <a [href]="row.arquivo" class="downloadLink" target="_blank">Baixar
                                                Arquivo</a>
                                        </td>
                                        <td>
                                            <div class="fileUpload">
                                                <label for="fileUpload">Importe o arquivo</label>
                                                <input type="file" id="fileUpload" (change)="onFileSelected($event)" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>

                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>