<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formConfigInicial" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Configurações Gerais!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><input type="checkbox" (change)="toggleSelectAllConfigInicial($event)" />
                                        </th>
                                        <th>definir_configuracoes_iniciais_documento_id</th>
                                        <th>calcular_lucro_bruto</th>
                                        <th>observacoes_documento_compreendem</th>
                                        <th>para_ema_EP_vendas_documentos</th>
                                        <th>resposta_liberacao_entrada_estoque_abaixo_nivel</th>
                                        <th>bloquear_estoque_negativo</th>
                                        <th>bloquear_estoque_negativo_por</th>
                                        <th>metodo_arredondamento</th>
                                        <th>data_base_taxa_cambio</th>
                                        <th>arredondar_valor_imposto_linhas</th>
                                        <th>exibir_observacao_arredondamento</th>
                                        <th>bloquear_documentos_data_lancamento</th>
                                        <th>permitir_data_lancamento_futuro</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rowsConfigInicial; trackBy: trackByFnConfigInicial"
                                        class="trow">
                                        <td>
                                            <input type="checkbox" [(ngModel)]="row.selected" name="selected" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.calcular_lucro_bruto" name="codigobanco{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o código do banco..." disabled />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.calcular_lucro_bruto" name="agenciafilial{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o código da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.observacoes_documento_compreendem" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.para_ema_EP_vendas_documentos" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.resposta_liberacao_entrada_estoque_abaixo_nivel" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.bloquear_estoque_negativo" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.bloquear_estoque_negativo_por" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.metodo_arredondamento" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.bloquear_documentos_data_lancamento" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.permitir_data_lancamento_futuro" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                    </tr>
                                </tbody>
                                <div class="btnFuncionality">
                                    <button type="button" (click)="addRowConfigInicial()"><i
                                            class="fa-solid fa-plus"></i> Adicionar Linha</button>
                                    <button type="button" (click)="removeSelectedRowConfigInicial()"><i
                                            class="fa-solid fa-trash"></i> Remover Selecionadas</button>
                                </div>
                            </table>

                            <div class="btnSave">
                                <button type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>