<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formConfigInicial" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Configurações Gerais!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><button type="button" class="addRow" (click)="addRowConfigInicial()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                        <th>Calcular Lucro Bruto</th>
                                        <th>Obs. Documento Compreendem</th>
                                        <th>Vendas de Documentos</th>
                                        <th>Resposta liberação entrada estoque abaixo nível</th>
                                        <th>Bloquear Estoque Negativo</th>
                                        <th>Bloquear Estoque Negativo por:</th>
                                        <th>Método de Arredondamento</th>
                                        <th>Data Base Taxa de Câmbio</th>
                                        <th>Arredondar valor imposto linhas</th>
                                        <th>Exibir observação arredondamento</th>
                                        <th>Bloquear documentos data lançamento</th>
                                        <th>Permitir data lançamento futuro</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rowsConfigInicial; trackBy: trackByFnConfigInicial"
                                        class="trow">
                                        <td>
                                            <button type="button" class="btnDelete" (click)="deleteRow(row)">
                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.calcular_lucro_bruto" name="agenciafilial{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o código da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.observacoes_documento_compreendem" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.para_ema_EP_vendas_documentos" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.resposta_liberacao_entrada_estoque_abaixo_nivel" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.bloquear_estoque_negativo" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.bloquear_estoque_negativo_por" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.metodo_arredondamento" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.data_base_taxa_cambio" name="data_base_taxa_cambio{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.arredondar_valor_imposto_linhas" name="arredondar_valor_imposto_linhas{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.exibir_observacao_arredondamento" name="exibir_observacao_arredondamento{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.bloquear_documentos_data_lancamento" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.permitir_data_lancamento_futuro" name="digitoagencia{{row.definir_configuracoes_iniciais_documento_id}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>