<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formInfoBanco" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span class="purple-primary">Informações de Banco!</span></h2>
                        <p><b>NOTA:</b> Insira as informações essenciais para concluir o cadastro no BBP Digital.</p>
                    </div>

                    <!-- Alerta de Atividade -->
                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><button type="button" class="addRow" (click)="addRowAlertaAtividade()"><i
                                                    class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                        <th>Cód. Banco</th>
                                        <th>Agência Filial</th>
                                        <th>Dígito Agência</th>
                                        <th>Número da Conta</th>
                                        <th>Conta Contábil</th>
                                        <th>Conta Contábil Provisória</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of alertaAtividadeRows; trackBy: trackByFnAlertaAtividade"
                                        class="trow">
                                        <td>
                                            <button type="button" class="btnDelete" (click)="deleteRow(row)">
                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.codigobanco"
                                                name="codigobanco{{row.definir_Informacoes_bancoid}}" placeholder="000"
                                                maxlength="3" (keydown)="allowOnlyNumbers($event)" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.agenciafilial"
                                                name="agenciafilial{{row.definir_Informacoes_bancoid}}"
                                                placeholder="0000" maxlength="4" (keydown)="allowOnlyNumbers($event)" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.digitoagencia"
                                                name="digitoagencia{{row.definir_Informacoes_bancoid}}"
                                                placeholder="0" maxlength="1" (keydown)="allowOnlyNumbers($event)" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.numerodaConta"
                                                name="numerodaConta{{row.definir_Informacoes_bancoid}}"
                                                placeholder="000000" maxlength="6" (keydown)="allowOnlyNumbers($event)" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.contacontabil"
                                                name="contacontabil{{row.definir_Informacoes_bancoid}}"
                                                placeholder="0000" maxlength="4" (keydown)="allowOnlyNumbers($event)" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.contacontprovisoria"
                                                name="contacontprovisoria{{row.definir_Informacoes_bancoid}}"
                                                placeholder="0000" maxlength="4" (keydown)="allowOnlyNumbers($event)" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>