<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formInfoBanco" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Informações de Banco!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <!-- Alerta de Atividade -->
                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><input type="checkbox" (change)="toggleSelectAllAlertaAtividade($event)" />
                                        </th>
                                        <th>#</th>
                                        <th>codigobanco</th>
                                        <th>agenciafilial</th>
                                        <th>digitoagencia</th>
                                        <th>numerodaConta</th>
                                        <th>contacontabil</th>
                                        <th>contacontprovisoria</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rowsAlertaAtividade; trackBy: trackByFnAlertaAtividade"
                                        class="trow">
                                        <td>
                                            <input type="checkbox" [(ngModel)]="row.selected" name="selected" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.definir_Informacoes_bancoid"
                                                name="definir_Informacoes_bancoid" placeholder="Insira o código..."
                                                disabled />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.codigobanco" name="codigobanco"
                                                placeholder="Insira o código do banco..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.agenciafilial" name="agenciafilial"
                                                placeholder="Insira o código da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.digitoagencia" name="digitoagencia"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.numerodaConta" name="numerodaConta"
                                                placeholder="Insira o número da conta..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.contacontabil" name="contacontabil"
                                                placeholder="Insira a conta contábil..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.contacontprovisoria"
                                                name="contacontprovisoria"
                                                placeholder="Insira a conta contábil provisória..." />
                                        </td>
                                    </tr>
                                </tbody>
                                <div class="btnFuncionality">
                                    <button type="button" (click)="addRowAlertaAtividade()"><i
                                            class="fa-solid fa-plus"></i> Adicionar Linha</button>
                                    <button type="button" (click)="removeSelectedRowsAlertaAtividade()"><i
                                            class="fa-solid fa-trash"></i> Remover Selecionadas</button>
                                </div>
                            </table>

                            <div class="btnSave">
                                <button type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>