<div *ngIf="isLoading" class="loading-indicator">
  <div class="spinner"></div>
  <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
  <app-header></app-header>
  <div class="menuContent">
    <app-menu-navigation></app-menu-navigation>
    <div class="w-full">
      <app-customer-field></app-customer-field>
      <section id="informacoesBasicas">
        <div class="boxMenuOptions">
          <div class="text-center">
            <h2 class="menusTitle">Preencha os campos abaixo para criar <span class="purple-primary">Definição de Despesas</span></h2>
            <p><b>NOTA:</b> Insira as informações essenciais para concluir o cadastro no BBP Digital.</p>
          </div>
          <div class="boxMenuContent">
            <div class="boxMenuItem" *ngFor="let modal of modals">
              <div class="imageAndText">
                <div class="menuOptionImage">
                  <i [class]="modal.icon"></i>
                </div>
                <div class="nameDescription">
                  <h3>{{ modal.title }}</h3>
                </div>
              </div>
              <div class="answerField">
                <button type="button" (click)="openModal(modal.id)"><i class="fa-solid fa-pen-to-square"></i>
                  Editar</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Modals -->
      <form [formGroup]="formDefinicaoDespesas" (ngSubmit)="onSubmit()">
        <div *ngFor="let modal of modals">
          <div class="modal" [ngClass]="{'show': modal.isVisible}" (click)="onClickOutside($event, modal.id)">
            <div class="modal-content" (click)="$event.stopPropagation()">
              <span class="close" (click)="closeModal(modal.id)">&times;</span>
              <h2>{{ modal.title }}</h2>

              <ng-container [ngSwitch]="modal.id">
                <!-- despesas_Adicionais -->
                <div *ngSwitchCase="'despesas_Adicionais'" class="switchCase">
                  <form class="formComponent" (submit)="onSubmit()">
                    <table>
                      <thead class="tableHeader">
                        <tr>
                          <th><button type="button" class="addRow" (click)="addRowDespesasAdicionais()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                          <th>Nome da Despesa</th>
                          <th>Conta de Receita</th>
                          <th>Conta da Despesa</th>
                          <th>Valor Fixo Receita</th>
                          <th>Valor Fixo Despesa</th>
                          <th>Sujeito IRF</th>
                          <th>Método de Distribuição</th>
                          <th>Método de Transferência</th>
                          <th>Estoque</th>
                          <th>Útimo Preço (compra)</th>
                          <th>Tipo de Despesas Adicionais</th>
                        </tr>
                      </thead>
                      <tbody class="teste">
                        <tr *ngFor="let row of despesas_AdicionaisRows; trackBy: trackByFnDespesasAdicionais"
                          class="trow">
                          <td>
                            <button type="button" class="btnDelete" (click)="deleteRowAdicionais(row)">
                              <i class="fa-solid fa-trash"></i> Remover</button>
                          </td>
                          <td><input type="text" [(ngModel)]="row.nome_despesa" name="nome_despesa{{row.despesas_Adicionaisid}}"
                              placeholder="Nome da Despesa" /></td>
                          <td><input type="text" [(ngModel)]="row.conta_receita"
                              name="conta_receita{{row.despesas_Adicionaisid}}" placeholder="Conta Receita" />
                          </td>
                          <td><input type="text" [(ngModel)]="row.conta_despesa"
                              name="dimensao{{row.despesas_Adicionaisid}}" placeholder="Conta Despesa" /></td>
                          <td><input type="number" [(ngModel)]="row.valor_fixo_receitas"
                              name="ativo{{row.despesas_Adicionaisid}}" placeholder="Valor Fixo de Receitas" /></td>
                          <td><input type="number" [(ngModel)]="row.valor_fixo_despesas"
                              name="descricao{{row.despesas_Adicionaisid}}" placeholder="Valor Fixo de Despesas" /></td>
                          <td><input type="text" [(ngModel)]="row.sujetio_irf"
                              name="sujetio_irf{{row.despesas_Adicionaisid}}" placeholder="Insira o valor..." /></td>
                          <td><input type="text" [(ngModel)]="row.metodo_distribuicao"
                              name="metodo_distribuicao{{row.despesas_Adicionaisid}}" placeholder="Insira o valor..." />
                          </td>
                          <td><input type="text" [(ngModel)]="row.metodo_transferencia"
                              name="metodo_transferencia{{row.despesas_Adicionaisid}}"
                              placeholder="Insira o valor..." /></td>
                          <td><input type="text" [(ngModel)]="row.estoque" name="estoque{{row.despesas_Adicionaisid}}"
                              placeholder="Insira o valor..." /></td>
                          <td><input type="text" [(ngModel)]="row.ultimo_preco_compra"
                              name="ultimo_preco_compra{{row.despesas_Adicionaisid}}" placeholder="Insira o valor..." />
                          </td>
                          <td><input type="text" [(ngModel)]="row.tipo_despesas_adicionais"
                              name="tipo_despesas_adicionais{{row.despesas_Adicionaisid}}"
                              placeholder="Insira o valor..." /></td>
                        </tr>
                      </tbody>
                      <div class="btnSave">
                        <button type="submit">Salvar</button>
                      </div>
                    </table>
                  </form>
                  <button class="btn modal-save" type="button"
                    (click)="closeModal('despesas_Adicionais')">Fechar</button>
                </div>

                <!-- definicao_Despesas -->
                <div *ngSwitchCase="'definicao_Despesas'" class="switchCase">
                  <form class="formComponent" (submit)="onSubmit()">
                    <table>
                      <thead class="tableHeader">
                        <tr>
                          <th><button type="button" class="addRow" (click)="addRowDefinicaoDespesas()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                          <th>Nome</th>
                          <th>Alocação por:</th>
                          <th>Conta Alocação Desp. Importação</th>
                        </tr>
                      </thead>
                      <tbody class="teste">
                        <tr *ngFor="let row of definicao_DespesasRows; trackBy: trackByFnDefinicaoDespesas" class="trow">
                          <td>
                            <button type="button" class="btnDelete" (click)="deleteRowDespesas(row)">
                              <i class="fa-solid fa-trash"></i> Remover</button>
                          </td>
                          <td><input type="text" [(ngModel)]="row.nome" name="nome{{row.definicao_Despesasid}}" placeholder="Nome da Despesa" /></td>
                          <select [(ngModel)]="row.alocacao_por" name="alocacao_por{{row.definicao_Despesasid}}" class="selectMenu">
                            <option value="" disabled>Selecione...</option>
                            <option value="Valor em Dinheiro Antes da Taxa Aduaneira">Valor em Dinheiro Antes da Taxa Aduaneira</option>
                            <option value="Valor em Dinheiro Após da Taxa Aduaneira">Valor em Dinheiro Após da Taxa Aduaneira</option>
                            <option value="Quantidade">Quantidade</option>
                            <option value="Peso">Peso</option>
                            <option value="Volume">Volume</option>
                            <option value="Igual a">Igual a:</option>
                          </select>
                          <!-- <td><input type="text" [(ngModel)]="row.alocacao_por" name="alocacao_por{{row.definicao_Despesasid}}" placeholder="" /></td> -->
                          <td><input type="text" [(ngModel)]="row.conta_alocacao_despesas_importacao"
                              name="conta_alocacao_despesas_importacao{{row.definicao_Despesasid}}" placeholder="Conta Alocação de Despesas de Importação" /></td>
                      </tbody>
                      <div class="btnSave">
                        <button type="submit">Salvar</button>
                      </div>
                    </table>
                  </form>
                  <button class="btn modal-save" type="button"
                    (click)="closeModal('definicao_Despesas')">Fechar</button>
                </div>

              </ng-container>
            </div>
          </div>
        </div>
        <div class="btnSave">
          <button type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>