<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formGrupoFornecedores" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Configurações Gerais!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><input type="checkbox" (change)="toggleSelectAllGrupoFornecedores($event)" />
                                        </th>
                                        <th>#</th>
                                        <th>codgrupo</th>
                                        <th>nome_grupo</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rowsGrupoFornecedores; trackBy: trackByFnGrupoFornecedores"
                                        class="trow">
                                        <td>
                                            <input type="checkbox" [(ngModel)]="row.selected" name="selected" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.definir_grupos_fornecedoresid" name="codigobanco{{row.definir_grupos_fornecedoresid}}"
                                                placeholder="Insira o código do banco..." disabled />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.codgrupo" name="agenciafilial{{row.definir_grupos_fornecedoresid}}"
                                                placeholder="Insira o código da agência..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.nome_grupo" name="digitoagencia{{row.definir_grupos_fornecedoresid}}"
                                                placeholder="Insira o dígito da agência..." />
                                        </td>
                                    </tr>
                                </tbody>
                                <div class="btnFuncionality">
                                    <button type="button" (click)="addRowGrupoFornecedores()"><i
                                            class="fa-solid fa-plus"></i> Adicionar Linha</button>
                                    <button type="button" (click)="removeSelectedRowsGrupoFornecedores()"><i
                                            class="fa-solid fa-trash"></i> Remover Selecionadas</button>
                                </div>
                            </table>

                            <div class="btnSave">
                                <button type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>