<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formGrupoFornecedores" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Configurações Gerais!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><button type="button" class="addRow" (click)="addRowGrupoFornecedores()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                        <th>Cód. Grupo</th>
                                        <th>Nome do Grupo</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rowsGrupoFornecedores; trackBy: trackByFnGrupoFornecedores"
                                        class="trow">
                                        <td>
                                            <button type="button" class="btnDelete" (click)="deleteRowGrupoFornecedores(row)">
                                                                          <i class="fa-solid fa-trash"></i> Remover</button>
                                                                      </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.codgrupo" name="agenciafilial{{row.definir_grupos_fornecedoresid}}"
                                                placeholder="Cód. do grupo" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.nome_grupo" name="digitoagencia{{row.definir_grupos_fornecedoresid}}"
                                                placeholder="Nome do grupo" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>

                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>