<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formCondicPagamento" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Condições de Pagamento!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <!-- Alerta de Atividade -->
                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <!-- <th></th>
                                        <th><input type="checkbox" (change)="toggleSelectAllAlertaAtividade($event)" />
                                        </th>
                                        <th>#</th> -->
                                        <th><button type="button" class="addRow" (click)="addRowAlertaAtividade()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                        <th>Cód. Condição</th>
                                        <th>Data Venc. Baseada</th>
                                        <th>Prestação</th>
                                        <th>Dias Venc. Prestação</th>
                                        <th>Abrir Contas a Receber</th>
                                        <th>Percen. Total Descontos</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of alertaAtividadeRows; trackBy: trackByFnAlertaAtividade" class="trow">
                                        <td>
                                            <button type="button" class="btnDelete" (click)="deleteRow(row)">
                                                                          <i class="fa-solid fa-trash"></i> Remover</button>
                                                                      </td>
                                        <!-- <td>
                                            <input type="text" [(ngModel)]="row.codigo_condicao"
                                                name="codigo_condicao{{row.definir_condicoes_pagamentosid}}"
                                                placeholder="Defina a condição de pagamento..." />
                                        </td> -->
                                        <td>
                                            <input type="text" [(ngModel)]="row.data_vencimento_baseada"
                                                name="data_vencimento_baseada{{row.definir_condicoes_pagamentosid}}"
                                                placeholder="Insira a condição padrão de pagamento para cliente..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.prestacao"
                                                name="prestacao{{row.definir_condicoes_pagamentosid}}"
                                                placeholder="Insira a condição padrão de pagamento para fornecedor..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.dias_vencimento_prestacao"
                                                name="dias_vencimento_prestacao{{row.definir_condicoes_pagamentosid}}"
                                                placeholder="Insira a condição padrão de pagamento para fornecedor..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.abrir_contas_receber"
                                                name="abrir_contas_receber{{row.definir_condicoes_pagamentosid}}"
                                                placeholder="Insira a condição padrão de pagamento para fornecedor..." />
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="row.perc_total_desconto"
                                                name="perc_total_desconto{{row.definir_condicoes_pagamentosid}}"
                                                placeholder="Insira a condição padrão de pagamento para fornecedor..." />
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <div class="btnFuncionality">
                                    <button type="button" (click)="addRowAlertaAtividade()"><i
                                            class="fa-solid fa-plus"></i> Adicionar Linha</button>
                                    <button type="button" (click)="removeSelectedRowsAlertaAtividade()"><i
                                            class="fa-solid fa-trash"></i> Remover Selecionadas</button>
                                </div> -->
                            </table>

                            <div class="btnSave">
                                <button type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                    <div class="btnSave">
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>