.wrapperLogin {
    background-color: var(--bg-login-color);
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrapperModal {
    background-color: rgba(0, 0, 0, 0.406);
    position: fixed;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.credentialsField>form>input {
    padding-left: .5rem;
    /* transition: .3s; */

    &:focus-visible,
    &:hover {
        border-radius: .2rem;
        border: 2px solid var(--highlight);
        outline: transparent;
    }
}

.cardForgotPassword {
    min-width: 20%;
    max-width: 25%;
    background-color: var(--white);
    padding: 2rem 5rem;
    border-radius: var(--rounded-card);
    box-shadow: var(--shadow-card);
}

.modalEmailNotFound {
    min-width: 30%;
    max-width: 30%;
    background-color: var(--white);
    padding: 2rem 5rem;
    border-radius: var(--rounded-card);
    box-shadow: var(--shadow-card);
}

.iconFlag {
    color: var(--yellow-primary);
}

/* Título e Descrição do Card */


.titleDescription>h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--gray-primary);
    line-height: 2.5rem;
}

/* Email Field */
#sendEmailVerification {
    display: grid;
}

.btnField {
    margin: 1rem 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .cardForgotPassword {
        min-width: 100%;
        height: 100vh;
        padding: 1rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .cardForgotPassword {
        min-width: 100%;
        height: 100vh;
        padding: 2rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cardForgotPassword {
        min-width: 100%;
        height: 100vh;
        padding: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cardForgotPassword {
        min-width: 50vw;
        padding: 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .cardForgotPassword {
        min-width: 31vw;
    }

}