<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapperModal" [style.display]="emailNaoCadastrado ? 'flex' : 'none'">
        <div class="modalEmailNotFound">
            <div class="btnBack">
                <button (click)="fecharModal()"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
            </div>
            <div class="cardContent">
                <div class="iconFlag">
                    <i class="fa-solid fa-circle-xmark" style="color: var(--red-primary);"></i>
                </div>
                <div class="titleDescription">
                    <h2>E-mail não cadastrado!</h2>
                    <p>Verificamos que o e-mail informado não está cadastrado em nosso sistema.</p>
                </div>
                <div class="btnField">
                    <button type="button" class="btn" (click)="fecharModal()">Voltar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapperLogin">
        <div class="cardForgotPassword">
            <div class="btnBack">
                <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
            </div>
            <div class="cardContent">
                <div class="iconFlag">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div class="titleDescription">
                    <h2>Esqueceu a sua senha?</h2>
                    <p>Por favor, insira seu e-mail para redefinir a senha.</p>
                </div>
                <div class="credentialsField">
                    <form (ngSubmit)="verifyEmail()" id="sendEmailVerification">
                        <label for="emailRecovery">E-mail</label>
                        <input type="text" [(ngModel)]="emailRecovery" name="emailRecovery" autocomplete="no" placeholder="Insira o seu endereço de e-mail" id="emailRecovery">
                        <div class="btnField">
                            <button type="submit" class="btn">Redefinir Senha</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-footer-login></app-footer-login>
</body>
</html>
