.menuNavigation {
    overflow-y: auto;
    /* Permite rolagem vertical */
    -ms-overflow-style: none;
    /* IE e Edge */
    scrollbar-width: none;
    /* Firefox */
}

.menuNavigation>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.menuContent.collapsed .menuNavigation ul li a i {
    font-size: 1.5rem;
    /* Aumenta o tamanho dos ícones se necessário */
    margin-right: 0;
    transition: transform 0.3s ease, color 0.3s ease;
}

.menuNavigation ul li a i {
    font-size: 1.2rem;
    /* Tamanho fixo para todos os ícones */
}


.menuNavigation::-webkit-scrollbar {
    display: none;
}

.menuNavigation>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    /* padding: 0; */
}

.active {
    font-weight: bold;
    background-color: var(--purple-primary-hover);
}

li {
    border-left: 1px solid transparent;
}

li:hover {
    background-color: #420e61c5;
    border-left: 4px solid var(--white);
}

a,
span,
.lowNumber {
    text-decoration: none;
    color: #fff;
}

.statusIcon i::before {
    border-right: 2px solid white;
    padding: 0 .8rem 0 0;
    margin-right: .4rem;
}

/* Variação Cor dos Botões */

li {
    color: #fff;
    text-decoration: transparent;
    transition: all .3s;
    height: 43px;
    align-items: center;
    display: flex;
    /* padding: 0 1rem; */
    width: 100%;

    &:focus-visible {
        border: none;
    }
}

.lowNumber {
    font-weight: 600;
    margin: 0 .3rem 0 0;
    color: var(--gray-label);
}

/* Feature's Att */
/* Menu inicial (expandido) */

.menuToggle {
    cursor: pointer;
    border: 1px solid;
    background-color: var(--purple-primary);
    color: white;
    /* border: 1px solid white; */
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    height: min-content;
    position: relative;
    /* Adicionado para garantir que o botão tenha posição relativa */
    z-index: 1001;
    /* Para garantir que o botão fique acima de outros elementos */
}

.menuToggleInactive {
    max-width: 50px;
}

.menuFilter {
    margin-bottom: 10px;
}

.menuNavigation {
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.menuNavigation.collapsed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: all .3s;
}

.menuNavigation ul {
    list-style-type: none;
    padding: 0;
}

.menuNavigation a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px;
    text-wrap: nowrap;
}

.menuNavigation a.active {
    background-color: var(--purple-hover);
}

.menu-no-bg {
    background-color: transparent !important;
}

.menuContent {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.menuContent.menu-open {
    max-height: 500px;
    /* Define uma altura suficiente para o menu completo (ajuste conforme necessário) */
    opacity: 1;
    transition: all .3s;

    /* Torna o conteúdo visível */
}

.menuToggle {
    cursor: pointer;
}

.menuContent.menu-open {
    background: var(--purple-primary);
}

.menuContent.collapsed {
    background-color: var(--purple-primary);
}

.menuContent.collapsed > .menuNavigation > ul > li > a {
    justify-content: center;
    gap: 0;
}

.menuContent.collapsed > .menuNavigation > ul > li > i {
    font-size: .8rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .menuContent {
        position: fixed;
        top: -5px;
        background: #0000007d;
        width: 100%;
        overflow-y: scroll;
        max-height: 100vh;
        transition: background 0.3s ease;
    }

    .menuContent.collapsed {
        background: none;
        height: 50px;
        /* Define o height para 50px quando colapsado */
        /* z-index: -1; */
    }

    .menuContent.collapsed .menuNavigation {
        display: none;
    }

    .menuContent.collapsed .menuFilter {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menuToggle {
        display: block;
        margin: 0.5rem;
    }

    .menuNavigation {
        max-height: none;
        opacity: 1;
    }

    .menuContent.collapsed {
        background: flex;
    }

    .menuContent.collapsed .menuNavigation {
        display: flex;
    }

    .menuContent.collapsed .menuFilter {
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .boxMenuContent {
        display: grid;
    }
}

/* Menu quando colapsado */
.menuContent.collapsed .menuNavigation ul li a span {
    display: none;
    /* Esconde os textos quando o menu estiver colapsado */
}

.menuContent.collapsed .menuNavigation ul li a i {
    font-size: 1.3rem;
    /* Aumenta o tamanho dos ícones se necessário */
    margin-right: 0;
    /* Remove a margem direita para centralizar os ícones */
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Menu quando expandido */
.menuContent.menu-open .menuNavigation ul li a span {
    display: inline;
    /* Mostra o texto quando o menu estiver aberto */
}