<section id="menuWrapper">
    <div class="menuContent" [ngClass]="{'collapsed': isMenuCollapsed, 'menu-open': !isMenuCollapsed}">
        <button class="menuToggle" (click)="toggleMenu()">
            <i class="fa" [ngClass]="{'fa-bars': isMenuCollapsed, 'fa-times': !isMenuCollapsed}"></i>
        </button>

        <div *ngIf="!isMenuCollapsed" class="searchBar">
            <input type="text" placeholder="Pesquisar..." [(ngModel)]="searchQuery" class="searchInput" />
        </div>

        <div class="menuNavigation">
            <ng-container *ngFor="let item of filteredItems; let i = index">
                <li *ngIf="!item.visible" [class.active]="activeBtnIndex === i">
                    <a (click)="setActiveBtn(i, item.link)" [href]="item.link">
                        <span *ngIf="!isMenuCollapsed" style="margin-left: 10px;">
                            <!-- Ícones de status -->
                            <ng-container *ngIf="item.isFilled === true; else incompleteStatus">
                                <span style="color: #56e279;" class="statusIcon" title="Campos Preenchidos">
                                    <i class="fa-solid fa-square-check"></i>
                                </span>
            </ng-container>
            <ng-template #incompleteStatus>
                <span style="color: #ffc900;" class="statusIcon" title="Campos Incompletos">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </span>
            </ng-template>
            </span>
            <i class="fa" [ngClass]="item.icon"></i>
            <span *ngIf="!isMenuCollapsed">{{ item.label }}</span>
            </a>
            </li>
            </ng-container>
        </div>
    </div>
</section>