<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapperModal" [style.display]="emailNaoCadastrado ? 'flex' : 'none'">
        <div class="modalCodeNotFound">
            <div class="btnBack">
                <button (click)="fecharModal()"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
            </div>
            <div class="cardContent">
                <div class="iconFlag">
                    <i class="fa-solid fa-circle-xmark" style="color: var(--red-primary);"></i>
                </div>
                <div class="titleDescription">
                    <h2>Código incorreto!</h2>
                    <p>Verificamos que o código informado está incorreto. Por favor, tente novamente.</p>
                </div>
                <div class="btnField">
                    <button type="button" class="btn" (click)="fecharModal()">Voltar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="wrapperLogin">
        <div class="cardForgotPassword">
            <div class="btnBack">
                <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
            </div>
            <div class="cardContent">
                <div class="iconFlag">
                    <i class="fa-solid fa-envelope-circle-check"></i>
                </div>
                <div class="titleDescription">
                    <h2>Verifique o <br>seu e-mail</h2>
                    <p>Enviamos um código de redefinição para <span id="emailSentCode"></span></p>
                </div>
                <div class="otpField">
                    <input type="text" class="item" autocomplete="no" maxlength="1" [(ngModel)]="codeInputs[0]" name="codeInput1">
                    <input type="text" class="item" autocomplete="no" maxlength="1" [(ngModel)]="codeInputs[1]" name="codeInput2">
                    <input type="text" class="item" autocomplete="no" maxlength="1" [(ngModel)]="codeInputs[2]" name="codeInput3">
                    <input type="text" class="item" autocomplete="no" maxlength="1" [(ngModel)]="codeInputs[3]" name="codeInput4">
                    <input type="text" class="item" autocomplete="no" maxlength="1" [(ngModel)]="codeInputs[4]" name="codeInput5">
                </div>
                <div class="verifyCode">
                    <button class="btn" (click)="setNewPassword()">Verificar Código</button>
                </div>
                <div class="resendEmail">
                    <span>Ainda não recebeu o e-mail?</span><a href="#!">Reenviar e-mail</a>
                </div>
            </div>
        </div>
    </div>
    <app-footer-login></app-footer-login>
</body>
</html>
