body {
    background-color: var(--bg-login-color);
}

.otpField {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: .5rem;
    height: 55px;
}

.otpField>.item {
    border: solid 1px gray;
    padding: .8rem 0;
    border-radius: .5rem;
    width: 100%;
    text-align: center;

    &:hover,
    &:focus-visible,
    &:focus {
        border: none;
        outline: 2px solid var(--highlight);
        border-radius: .5rem;
    }
}

.wrapperModal {
    background-color: rgba(0, 0, 0, 0.406);
    position: fixed;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.modalCodeNotFound {
    min-width: 30%;
    max-width: 30%;
    background-color: var(--white);
    padding: 2rem 5rem;
    border-radius: var(--rounded-card);
    box-shadow: var(--shadow-card);
}

.wrapperLogin {
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cardContent {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.cardForgotPassword {
    background-color: var(--white);
    max-width: 30%;
    border-radius: var(--rounded-card);
    box-shadow: var(--shadow-card);
    padding: 2rem 5rem;
}

/* Icon de Identificação */
.iconFlag {
    color: var(--gray-primary);
}

/* Título e Descrição do Card */
.titleDescription {
    display: ruby-text;

}

.titleDescription>h2 {
    font-size: 2.7rem;
    line-height: 2.9rem;
}

.titleDescription > h2 > br {
    display: block;
}

#emailSentCode {
    font-weight: 600;
    color: var(--gray-primary);
}

/* Seção Botão */
.verifyCode {
    margin: 1rem 0 0 0;
}

/* Reenviar Email */
.resendEmail {
    margin: .5rem 0 0 0;
    display: flex;
    justify-content: space-evenly;
}

.resendEmail span {
    color: var(--gray-primary);
}

.resendEmail a {
    color: var(--highlight);
    text-decoration: none;
}

.titleDescription br {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .cardForgotPassword {
        min-width: 100%;
        min-height: 100vh;
        padding: 1rem;
    }

    .titleDescription h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .titleDescription>p {
        font-size: 0.8rem;
    }

    .resendEmail {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .cardForgotPassword {
        min-width: 100%;
        height: 100vh;
        padding: 2rem;
    }

    /* .cardForgotPassword {
        min-width: 100%;
        min-height: 100vh;
        padding: 1rem;
    } */

    .titleDescription br {
        display: block;
    }

    .iconFlag {
        height: 6.25rem;
    }

    .titleDescription h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .titleDescription>p {
        font-size: .9rem;
    }

    .resendEmail {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cardForgotPassword {
        min-width: 100%;
        height: 100vh;
        padding: 2rem;
    }

    .iconFlag {
        height: 6.25rem;
    }
    
    .titleDescription h2 {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .titleDescription br {
        display: block;
    }

    .resendEmail {
        flex-direction: column;
        text-align: center;
    }

    .otpField {
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cardForgotPassword {
        min-width: 50vw;
        padding: 2rem;
    }

    .titleDescription h2 {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .titleDescription br {
        display: block;
    }

    .resendEmail {
        flex-direction: column;
        text-align: center;
    }

    .titleDescription>p {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .cardForgotPassword {
        min-width: 40vw;
    }

    .titleDescription h2 {
        font-size: 2.8rem;
        line-height: 3.1rem;
    }

    .resendEmail {
        justify-content: space-between;
    }
}