<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="informacoesBasicas">
                <div class="boxMenuOptions">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Territórios!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da
                            sua empresa. </p>
                    </div>
                    <div class="boxMenuContent">
                        <div class="boxMenuItem" *ngFor="let modal of modals">
                            <div class="imageAndText">
                                <div class="menuOptionImage">
                                    <i [class]="modal.icon"></i>
                                </div>
                                <div class="nameDescription">
                                    <h3>{{ modal.title }}</h3>
                                </div>
                            </div>
                            <div class="answerField">
                                <button type="button" (click)="openModal(modal.id)"><i
                                        class="fa-solid fa-pen-to-square"></i>
                                    Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <form [formGroup]="formTerritorios" (submit)="onSubmit()" id="configuracoesGerais">
                <div *ngFor="let modal of modals">
                    <div class="modal" [ngClass]="{'show': modal.isVisible}" (click)="onClickOutside($event, modal.id)">
                        <div class="modal-content" (click)="$event.stopPropagation()">
                            <span class="close" (click)="closeModal(modal.id)">&times;</span>
                            <h2>{{ modal.title }}</h2>

                            <ng-container [ngSwitch]="modal.id">
                                <!-- definir_Territorios -->
                                <div *ngSwitchCase="'definir_Territorios'">
                                    <div class="atvClienteBox">
                                        <form class="formComponent" (submit)="onSubmit()">
                                            <table>
                                                <thead class="tableHeader">
                                                    <tr>
                                                        <th><button type="button" class="addRow"
                                                                (click)="addRowsTerritorios()"><i
                                                                    class="fa-solid fa-plus"></i> Adicionar
                                                                Linha</button></th>
                                                        <th>Posição</th>
                                                        <th>Nome do Território</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="teste">
                                                    <tr *ngFor="let row of rowsTerritorios; trackBy: trackByFnTerritorios"
                                                        class="trow">
                                                        <td>
                                                            <button type="button" class="btnDelete" (click)="deleteRowTerritorios(row)">
                                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.posicao"
                                                                name="posicao{{row.definir_Territoriosid}}"
                                                                placeholder="Insira o código da agência..." />
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.nome_territorio"
                                                                name="nome_territorio{{row.definir_Territoriosid}}"
                                                                placeholder="Insira o dígito da agência..." />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <button class="btn modal-save" type="button"
                                            (click)="closeModal('definir_Territorios')">Fechar</button>
                                    </div>
                                </div>

                                <!-- definir_Estagios_Niveis_Vendas -->
                                <div *ngSwitchCase="'definir_Estagios_Niveis_Vendas'">
                                    <div class="atvClienteBox">
                                        <form class="formComponent" (submit)="onSubmit()">
                                            <table>
                                                <thead class="tableHeader">
                                                    <tr>
                                                        <th><button type="button" class="addRow" (click)="addRowsdefinir_Estagios_Niveis_Vendas()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                                        <th>Nível</th>
                                                        <th>Nome</th>
                                                        <th>Perc. Final</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="teste">
                                                    <tr *ngFor="let row of rowsdefinir_Estagios_Niveis_Vendas; trackBy: trackByFndefinir_Estagios_Niveis_Vendas"
                                                        class="trow">
                                                        <td>
                                                            <button type="button" class="btnDelete" (click)="deleteRowNiveisVendas(row)">
                                                                                          <i class="fa-solid fa-trash"></i> Remover</button>
                                                                                      </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.nivel"
                                                                name="nivel{{row.definir_Estagios_Niveis_Vendasid}}"
                                                                placeholder="Insira o código da agência..." />
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.nome"
                                                                name="nome{{row.definir_Estagios_Niveis_Vendasid}}"
                                                                placeholder="Insira o dígito da agência..." />
                                                        </td>
                                                        <td>
                                                            <input type="number" [(ngModel)]="row.perc_final"
                                                                name="perc_final{{row.definir_Estagios_Niveis_Vendasid}}"
                                                                placeholder="Insira o dígito da agência..." />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <button class="btn modal-save" type="button"
                                            (click)="closeModal('definir_Estagios_Niveis_Vendas')">Fechar</button>
                                    </div>
                                </div>

                                <!-- definir_grupo_comissoes -->
                                <div *ngSwitchCase="'definir_grupo_comissoes'">
                                    <div class="atvClienteBox">
                                        <form class="formComponent" (submit)="onSubmit()">
                                            <table>
                                                <thead class="tableHeader">
                                                    <tr>
                                                        <!-- <th><input type="checkbox"
                                                                (change)="toggleSelectedAlldefinir_grupo_comissoes($event)" />
                                                        </th>
                                                        <th>definir_grupo_comissoesid</th> -->
                                                        <th><button type="button" class="addRow" (click)="addRowsdefinir_grupo_comissoes()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                                        <th>Nome do Grupo</th>
                                                        <th>Perc. Comissão</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="teste">
                                                    <tr *ngFor="let row of rowsdefinir_grupo_comissoes; trackBy: trackByFndefinir_grupo_comissoes"
                                                        class="trow">
                                                        <!-- <td>
                                                            <input type="checkbox" [(ngModel)]="row.selected"
                                                                name="selected" />
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                [(ngModel)]="row.definir_grupo_comissoesid"
                                                                name="definir_grupo_comissoesid{{row.definir_grupo_comissoesid}}"
                                                                placeholder="Insira o código do banco..." disabled />
                                                        </td> -->
                                                        <td>
                                                            <button type="button" class="btnDelete" (click)="deleteRowGrupoComissoes(row)">
                                                                                          <i class="fa-solid fa-trash"></i> Remover</button>
                                                                                      </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.nome_grupo"
                                                                name="nome_grupo{{row.definir_grupo_comissoesid}}"
                                                                placeholder="Insira o código da agência..." />
                                                        </td>
                                                        <td>
                                                            <input type="number" [(ngModel)]="row.perc_comissao"
                                                                name="perc_comissao{{row.definir_grupo_comissoesid}}"
                                                                placeholder="Insira o código da agência..." />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <button class="btn modal-save" type="button"
                                            (click)="closeModal('definir_grupo_comissoes')">Fechar</button>
                                    </div>
                                </div>

                                <!-- definir_controle_vendedor -->
                                <div *ngSwitchCase="'definir_controle_vendedor'">
                                    <div class="atvClienteBox">
                                        <form class="formComponent" (submit)="onSubmit()">
                                            <table>
                                                <thead class="tableHeader">
                                                    <tr>
                                                        <!-- <th><input type="checkbox"
                                                                (change)="toggleSelectedAlldefinir_controle_vendedor($event)" />
                                                        </th>
                                                        <th>definir_controle_vendedorid</th> -->
                                                        <th><button type="button" class="addRow"
                                                                (click)="addRowsdefinir_controle_vendedor()"><i
                                                                    class="fa-solid fa-plus"></i> Adicionar
                                                                Linha</button></th>
                                                        <th>Nome do Vendedor</th>
                                                        <th>Observações</th>
                                                        <th>Grupo de Comissões</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="teste">
                                                    <tr *ngFor="let row of rowsdefinir_controle_vendedor; trackBy: trackByFndefinir_controle_vendedor"
                                                        class="trow">
                                           
                                                        <td>
                                                            <button type="button" class="btnDelete"
                                                                (click)="deleteRowControleVendedor(row)">
                                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.nome_vendedor"
                                                                name="nome_vendedor{{row.definir_controle_vendedorid}}"
                                                                placeholder="Insira o código da agência..." />
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.observacoes"
                                                                name="observacoes{{row.definir_controle_vendedorid}}"
                                                                placeholder="Insira o código da agência..." />
                                                        </td>
                                                        <td>
                                                            <input type="number" [(ngModel)]="row.grupo_comissoes"
                                                                name="grupo_comissoes{{row.definir_controle_vendedorid}}"
                                                                placeholder="Insira o código da agência..." />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <button class="btn modal-save" type="button"
                                            (click)="closeModal('definir_controle_vendedor')">Fechar</button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="btnSave">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>