/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #833BBA;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #662E91;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #8C3FC7;
}


/* Estilos Globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Tema Escuro (Dark Theme) */

body.dark .w-full {
    transition: background-color 0.3s ease-in-out;
    background-color: var(--dark-theme-bg);
}

body.dark label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.nameDescription h3,
.menusTitle {
    color: var(--dark-theme-title) !important;
}


/* Tema Escuro (Dark Theme) - Modal - Início */

body.dark .modal-content {
    /* important */
    background-color: var(--dark-theme-bg) !important;
}

body.dark .modal-content {
    background-color: var(--dark-theme-bg-secondary);
}

body.dark .modalInputField,
input {
    border: none;
    /* important */
    color: var(--gray-label) !important;
    /* important */
    background-color: var(--dark-theme-bg-secondary) !important;
}

body.dark .menuContent.menu-open,
.collapsed {
    /* important */
    background: var(--dark-theme-bg-secondary) !important;
}

body.dark .searchBar {
    background-color: var(--dark-theme-bg-secondary);
}

body.dark .searchInput {
    background-color: var(--dark-theme-bg-tertiary);
}

body.dark .active,
.menuToggle {
    /* important */
    background-color: var(--dark-theme-bg) !important;
}

body.dark header {
    background-color: var(--dark-theme-bg);
}

body.dark #modalContent {
    background-color: var(--dark-theme-bg);
}

body.dark .purple-primary,
b {
    /* important */
    color: #D84DFF !important;
}


/* Tema Escuro (Dark Theme) - Modal - Fim */


/* Variáveis */

:root {
    /* Padrões */
    --white: #fff;
    --black: #000;
    /* Variações de Cinza */
    --gray-primary: #32363A;
    --gray-primary-hover: #1f2021;
    --gray-active: #FFFFFF;
    --gray-inactive: #E7E7E7;
    --gray-border: #A1A1A1;
    --gray-label: #6A6D70;
    --gray-input: #f9f9f9;
    --gray-table-header: #ECECEC;
    --gray-description: #6B6B6B;
    /* Variações de Roxo */
    --purple-primary: #662E91;
    --purple-primary-hover: #480a78;
    /* Variações de Verde */
    --green-primary: #009b86;
    /* Variações de Amarelo */
    --yellow-primary: #FFC300;
    /* Variações de Vermelho */
    --red-primary: #EC685A;
    --red-primary-hover: #df3825;
    /* Cores do Projeto */
    --primary: #354A5F;
    --highlight: #0A6ED1;
    --highlight-hover: #0854A0;
    /* Variações de Border Radius */
    --rounded-card: .2rem;
    /* Variações de Sombras */
    --shadow-card: 0px 0px 37px -17px rgba(0, 0, 0, 0.44);
    /* Background Colors */
    --bg-login-color: #DFE3E4;
    /* Break Points */
    --max-width-desktop: 95%;
    /* Dark Theme */
    --dark-theme-bg: #1f2021;
    --dark-theme-bg-secondary: #262727;
    --dark-theme-bg-secondary: #2c2c2c;
    --dark-theme-title: #fff;
}


/* Reutilizações */

.credentialsField {
    display: grid;
    gap: 1rem;
}

.credentialsField label {
    font-size: .8rem;
    color: var(--gray-label);
    font-weight: 500;
}

.credentialsField>div {
    display: grid;
}

.credentialsField input {
    min-height: 2.5rem;
    padding-left: .5rem;
}

.btn {
    cursor: pointer;
    background-color: var(--purple-primary);
    color: var(--white);
    border: none;
    border-radius: .3rem;
    font-weight: 500;
    width: 100%;
    padding: .5rem 2rem;
    font-size: .9rem;
    transition: .3s;
    &:hover {
        background-color: var(--purple-primary-hover);
    }
}

.px-1 {
    padding: 0 .25rem;
}

.btnSAP {
    cursor: pointer;
    background-color: var(--purple-primary);
    color: var(--white);
    border: none;
    border-radius: .3rem;
    /* width: 100%; */
    width: max-content;
    padding: .3rem 2rem;
    font-size: .9rem;
    transition: .3s;
    &:hover {
        background-color: var(--purple-primary-hover);
    }
}

.modal-content {
    max-height: 80vh;
}

.btn-border {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--purple-primary);
    color: var(--purple-primary);
    border-radius: .3rem;
    font-weight: 500;
    width: 100%;
    padding: .5rem 2rem;
    font-size: .9rem;
    transition: .3s;
    &:hover {
        background-color: var(--purple-primary-hover);
        color: var(--white);
    }
}

.purple-primary {
    color: var(--purple-primary);
    text-decoration: underline;
}

b {
    color: var(--purple-primary)
}

.text-center {
    text-align: center;
    margin: 0 0 1.5rem 0;
}

.iconFlag {
    width: 100%;
    text-align: center;
    font-size: 4.875rem;
}

.btnBack>button,
.btnBack>i {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: var(--gray-primary);
    transition: .3s;
    &:hover {
        color: var(--red-primary);
        font-weight: 600;
        font-size: .86rem;
    }
}

.titleDescription {
    text-align: center;
    margin: 0 auto .5rem 0;
}

.titleDescription>h2 {
    font-weight: 800;
    color: var(--gray-primary);
}

.titleDescription>p {
    color: var(--gray-primary);
}

.btnSave button {
    background-color: #0091b3;
    transition: .3s;
    border: none;
    color: var(--white);
    padding: .5rem 1rem;
    border-radius: var(--rounded-card);
    font-size: 1rem;
    position: fixed;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
    z-index: 1;
    &:hover {
        background-color: #01647a;
    }
}

.modalInputField select {
    border: transparent;
    background-color: transparent;
    color: var(--black);
    font-size: 1rem;
    &:focus {
        outline: transparent;
    }
}

.inputField {
    max-width: 100%;
    display: grid;
    background-color: var(--gray-input);
    border-bottom: 1px solid var(--gray-primary-hover);
    padding: .5rem;
}

.inputField>.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleIcon {
    display: flex;
    align-items: center;
}

.inputField label {
    font-size: .9rem;
    color: var(--gray-label);
    width: 100%;
    display: flex;
}

.inputField>input {
    border: transparent;
    background-color: var(--gray-input);
    font-size: 1rem;
    color: var(--black);
    &::placeholder {
        color: var(--black);
    }
    &:focus-visible {
        outline: transparent;
    }
}

.btnFuncionality {
    display: flex;
    gap: 0 .5rem;
    width: 100%;
    justify-content: start;
    margin: .5rem 0;
    padding: 0 .5rem;
}

.btnFuncionality button {
    padding: .3rem 1rem;
    border-radius: var(--rounded-card);
    color: var(--white);
    border: transparent;
    cursor: pointer;
    transition: .3s;
    &:hover {
        transform: scale(1.02);
    }
}

.btnFuncionality button:first-child {
    background-color: var(--highlight);
}

.tableHeader {
    color: var(--gray-active);
    background-color: var(--purple-primary);
}

.tableHeader th {
    width: fit-content;
    padding: 1rem;
    text-align: start;
    border-bottom: 1px solid #662E91;
    white-space: nowrap;
    &:first-child {
        border-radius: var(--rounded-card) 0 0 0;
        width: fit-content;
    }
    &:last-child {
        border-radius: 0 var(--rounded-card) 0 0;
    }
}

.menuContent {
    display: flex;
    min-height: calc(100vh - 3.5625rem);
}


/* Tabelas */

.formComponent {
    max-width: 100%;
    width: fit-content;
    justify-content: end;
    display: flex;
    margin-bottom: 1rem;
}

.formComponent table {
    display: block;
    border-collapse: collapse;
}

.teste tr {
    border-bottom: 1px solid #662E91;
}

table {
    border-radius: var(--rounded-card);
    border: 1px solid #662E91;
    overflow-x: auto;
}

table input {
    border: transparent;
    padding: 0 0 0 .8rem;
    height: 2.5rem;
    background: transparent;
    width: max-content;
    &:focus-visible,
    &:focus {
        outline: transparent;
    }
}

.tableBody input {
    width: 100%;
    border: transparent;
    &:focus-visible {
        border: transparent;
        outline: transparent;
    }
}

.max-w-7xl {
    max-width: 95%;
    margin: 0 auto;
}

.pageTitle h3 {
    color: var(--gray-primary-hover);
}

.wrapper {
    overflow-x: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    min-height: calc(100vh - (3.5625rem + 13.5313rem));
    max-width: calc(100vw - 23rem);
}

.no-max-width {
    max-width: 100%;
}

td:first-child {
    text-align: center;
}

#btnSearch button {
    border: transparent;
    background-color: var(--highlight);
    color: var(--white);
    padding: .5rem;
    border-radius: 1rem;
}

.gap-2 {
    gap: .9375rem;
}

.grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.flex {
    display: flex;
    gap: 1.25rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.descriptionMenu {
    color: var(--gray-primary);
    margin: 0 0 2rem 0;
}

.menuOptionImage i {
    padding: 1rem;
    background-color: white;
    border: 1px solid #242522;
    border-radius: 50%;
    font-size: 1.4rem;
    min-width: 60px;
    width: auto;
    text-align: center;
    color: #242522;
}

.addRow {
    background: var(--white);
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .atvClienteBox h2 {
        font-size: 1rem;
    }
    .atvClienteBox {
        margin: 0 0 2rem 0;
    }
}

#closeModal {
    border: transparent;
    background-color: transparent;
    color: var(--red-primary);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
    &:hover {
        transform: scale(1.1);
    }
}

.menusTitle {
    color: var(--gray-primary-hover);
}

.modal-content {
    min-width: 31.25rem;
    max-width: 90%;
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto !important;
    padding: 1rem;
    border: none !important;
    width: fit-content;
    position: fixed;
    border-radius: 10px !important;
    left: 0;
    right: 0;
    top: 20px;
    overflow-y: auto;
    max-height: 95vh;
}

.modal-content h2 {
    color: var(--gray-primary);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.modalInputField {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: var(--gray-input);
    border-bottom: 1px solid var(--gray-primary-hover);
    padding: .5rem;
    margin: 0 0 .5rem 0;
}

.modalInputField input {
    border: transparent;
    background-color: var(--gray-input);
    font-size: 1rem;
    color: var(--black);
    &::placeholder {
        color: var(--gray-label);
    }
    &:focus-visible {
        outline: transparent;
    }
}

.modalInputField label {
    font-size: .9rem;
    color: var(--gray-label);
    width: 100%;
    display: flex;
}

.w-full {
    width: 100% !important;
    border-left: 1px solid rgb(225, 225, 225);
}

.fa-circle-info {
    color: var(--gray-label);
    cursor: pointer;
    margin: 0 0 0 .5rem;
}

.required::after {
    content: '*';
    color: var(--red-primary);
    margin-left: 2px;
}

.answerField button {
    background-color: #662E91 !important;
    transition: .3s;
    &:hover {
        background-color: #480a78 !important;
    }
}

.tip {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 25px 10px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    font-weight: 400;
    max-width: 33vw;
}

.tip-close {
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
    color: var(--red-primary);
}

.boxMenuItem {
    border: 1px solid #662E91 !important;
}

.boxMenuOptions {
    background: none !important;
}

.boxMenuContent {
    max-width: 80% !important;
}


/* Animation Loading - Start */

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.loading-indicator p {
    text-align: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Animation Loading - Ends */

.switchCase {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btnDelete {
    color: var(--red-primary);
    background: none;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.downloadLink {
    text-decoration: none;
    color: var(--white);
    width: max-content;
    display: flex;
    background: var(--purple-primary);
    border-radius: 0.3rem;
    padding: 0.4rem 0.9rem;
    font-size: 13.5px;
}

.selectMenu {
    border: transparent;
    &:focus-visible {
        border: transparent;
    }
}

.custom-width {
    width: calc(100vw - 350px) !important;
}

.w-full,
.custom-width {
    transition: width 0.3s ease;
}


/* Media Query */

@media screen and (min-width: 320px) and (max-width: 374px) {
    .boxMenuOptions {
        max-width: 100%;
        background-color: none;
        margin: none;
        padding: .3rem;
    }
    .menusTitle {
        font-size: 1.2rem;
    }
    .boxMenuItem {
        flex: 100%;
    }
    .nameDescription h3 {
        font-size: 1rem;
    }
    .wrapper {
        max-width: fit-content !important;
    }
    #bbpDigitalTitle {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .wrapper {
        max-width: fit-content !important;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .wrapper {
        max-width: fit-content !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .boxMenuOptions {
        max-width: 100% !important;
        background-color: transparent !important;
        margin: none;
        padding: .3rem;
    }
    .menusTitle {
        font-size: 1.2rem;
    }
    .boxMenuItem {
        flex: 100%;
    }
    .nameDescription h3 {
        font-size: 1rem;
    }
    .wrapper {
        max-width: fit-content !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .boxMenuOptions {
        max-width: 100% !important;
        margin: 0;
        background-color: transparent !important;
    }
}

@media screen and (max-width: 767px) {
    .boxMenuContent {
        display: grid !important;
    }
}