<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formImpostos" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar os <span
                                class="purple-primary">Impostos!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <!-- Alerta de Atividade -->
                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><button type="button" class="addRow" (click)="addRow()"><i
                                                    class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                        <th>Nome Imposto</th>
                                        <th>Categoria</th>
                                        <th>Taxa</th>
                                        <th>Tipo Básico</th>
                                        <th>Perc. Valor Base</th>
                                        <th>Cód. Oficial</th>
                                        <th>Conta</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rowsImpostos; trackBy: trackByFn" class="trow">
                                        <td>
                                            <button type="button" class="btnDelete" (click)="deleteRow(row)">
                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.nome_imposto" name="nome_imposto{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira o nome do imposto..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.categoria" name="categoria{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira a categoria..." />
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="row.taxa" name="taxa{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira a taxa..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.tipo_basico" name="tipo_basico{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira o tipo básico..." />
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="row.perc_valor_base"
                                                name="perc_valor_base{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira o percentual de valor base..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.codigo_oficial" name="codigo_oficial{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira o código oficial..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.conta" name="conta{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira a conta..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.tipo" name="tipo{{row.configuracao_Imposto_Retido_Fonteid}}"
                                                placeholder="Insira o tipo..." />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="btnSave">
                                <button type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>