<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="configuracoesGerais" class="wrapper">
                <form [formGroup]="formImpostos" (submit)="onSubmit()" id="configuracoesGerais">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar os <span
                                class="purple-primary">Impostos!</span></h2>
                        <p><b>NOTA:</b> Insira as informações básicas essenciais necessárias para a configuração e
                            funcionamento da sua empresa.</p>
                    </div>

                    <!-- Alerta de Atividade -->
                    <div class="atvClienteBox">
                        <form class="formComponent" (submit)="onSubmit()">
                            <table>
                                <thead class="tableHeader">
                                    <tr>
                                        <th><input type="checkbox" (change)="toggleSelectAll($event)" />
                                        </th>
                                        <th>#</th>
                                        <th>nome_imposto</th>
                                        <th>categoria</th>
                                        <th>taxa</th>
                                        <th>tipo_basico</th>
                                        <th>perc_valor_base</th>
                                        <th>codigo_oficial</th>
                                        <th>conta</th>
                                        <th>tipo</th>
                                    </tr>
                                </thead>
                                <tbody class="teste">
                                    <tr *ngFor="let row of rows; trackBy: trackByFn" class="trow">
                                        <td>
                                            <input type="checkbox" [(ngModel)]="row.selected" name="selected" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.configuracao_Imposto_Retido_Fonteid"
                                                name="configuracao_Imposto_Retido_Fonteid" placeholder="Insira o código..." disabled />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.nome_imposto"
                                                name="nome_imposto" placeholder="Insira o nome do imposto..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.categoria"
                                                name="categoria" placeholder="Insira a categoria..." />
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="row.taxa"
                                                name="taxa" placeholder="Insira a taxa..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.tipo_basico"
                                                name="tipo_basico" placeholder="Insira o tipo básico..." />
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="row.perc_valor_base"
                                                name="perc_valor_base" placeholder="Insira o percentual de valor base..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.codigo_oficial"
                                                name="codigo_oficial" placeholder="Insira o código oficial..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.conta"
                                                name="conta" placeholder="Insira a conta..." />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="row.tipo"
                                                name="tipo" placeholder="Insira o tipo..." />
                                        </td>
                                    </tr>
                                </tbody>
                                <div class="btnFuncionality">
                                    <button type="button" (click)="addRow()"><i class="fa-solid fa-plus"></i> Adicionar
                                        Linha</button>
                                    <button type="button" (click)="removeSelectedRows()"><i
                                            class="fa-solid fa-trash"></i> Remover Selecionadas</button>
                                </div>
                            </table>

                            <div class="btnSave">
                                <button type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>