<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Carregando...</p>
</div>
<div *ngIf="!isLoading">
    <app-header></app-header>
    <div class="menuContent">
        <app-menu-navigation></app-menu-navigation>
        <div class="w-full">
            <app-customer-field></app-customer-field>
            <section id="informacoesBasicas">
                <div class="boxMenuOptions">
                    <div class="text-center">
                        <h2 class="menusTitle">Preencha os campos abaixo para criar as <span
                                class="purple-primary">Configurações Gerais!</span></h2>
                        <p><b>NOTA:</b> Insira as informações essenciais para concluir o cadastro no BBP Digital.</p>
                    </div>
                    <div class="boxMenuContent">
                        <div class="boxMenuItem" *ngFor="let modal of modals">
                            <div class="imageAndText">
                                <div class="menuOptionImage">
                                    <i [class]="modal.icon"></i>
                                </div>
                                <div class="nameDescription">
                                    <h3>{{ modal.title }}</h3>
                                </div>
                            </div>
                            <div class="answerField">
                                <button type="button" (click)="openModal(modal.id)"><i
                                        class="fa-solid fa-pen-to-square"></i>
                                    Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Modals -->
            <form [formGroup]="formConfigsGerais" (ngSubmit)="onSubmit()">
                <div *ngFor="let modal of modals">
                    <div class="modal" [ngClass]="{'show': modal.isVisible}" (click)="onClickOutside($event, modal.id)">
                        <div class="modal-content" (click)="$event.stopPropagation()">
                            <span class="close" (click)="closeModal(modal.id)">&times;</span>
                            <h2>{{ modal.title }}</h2>

                            <!-- Conteúdo específico do modal -->
                            <ng-container [ngSwitch]="modal.id">
                                <div *ngSwitchCase="'alerta_Atividade'">
                                    <div class="atvClienteBox">
                                        <form class="formComponent" (submit)="onSubmit()">
                                            <table>
                                                <thead class="tableHeader">
                                                    <tr>
                                                        <th><button type="button" class="addRow"
                                                                (click)="addRowAlertaAtividade()"><i
                                                                    class="fa-solid fa-plus"></i>
                                                                Adicionar Linha</button></th>
                                                        <th>Tipo de Atividade</th>
                                                        <th>Descrição da Atividade</th>
                                                        <th title="Ativo? Sim, ou não!">Ativo (S/N)</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="teste">
                                                    <tr *ngFor="let row of alertaAtividadeRows; trackBy: trackByFnAlertaAtividade"
                                                        class="trow">
                                                        <td>
                                                            <button type="button" class="btnDelete"
                                                                (click)="deleteRow(row)">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.tipoAtividade_id"
                                                                name="tipoAtividade_id{{row.bbP_Alerta_Atividadeid}}"
                                                                placeholder="Ex: Comércio, Serviços..." />
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.descricaoAtividade"
                                                                name="descricaoAtividade{{row.bbP_Alerta_Atividadeid}}"
                                                                placeholder="Ex: Prestação de serviços de consultoria, venda de produtos" />
                                                        </td>
                                                        <td>
                                                            <select [(ngModel)]="row.ativaSN" class="selectMenu"
                                                                name="ativaSN{{row.bbP_Alerta_Atividadeid}}">
                                                                <option value="" disabled>Selecione...</option>
                                                                <option value="Sim">Sim</option>
                                                                <option value="Não">Não</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <button class="btn modal-save" type="button"
                                            (click)="closeModal('alerta_Atividade')">Fechar</button>
                                    </div>
                                </div>

                                <!-- Taxa de Comissão -->
                                <div *ngSwitchCase="'taxaComissao'">
                                    <div class="atvClienteBox">
                                        <div class="flex">
                                            <p>Com base em que seu negócio define a taxa de comissão, se aplicada?</p>
                                            <i class="fa-solid fa-circle-info" (click)="toggleTip(11)"></i>
                                            <p *ngIf="activeTipId === 11" class="tip" [innerHTML]="getTip(11)"></p>
                                        </div>
                                        <form class="formComponent" (submit)="onSubmit()">
                                            <table>
                                                <thead class="tableHeader">
                                                    <tr>
                                                        <th><button type="button" class="addRow" (click)="addRowTaxaComissao()"><i class="fa-solid fa-plus"></i> Adicionar Linha</button></th>
                                                        <th>Tipo</th>
                                                        <th>Situação Tributária (ST-SN)</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="teste">
                                                    <tr *ngFor="let row of taxaComissaoRows; trackBy: trackByFnTaxaComissao"
                                                        class="trow">
                                                        <td class="tdLow">
                                                            <button type="button" class="btnDelete"
                                                                (click)="deleteRowTaxaComissao(row)">
                                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                                        </td>
                                                        <td class="tdLow"><select [(ngModel)]="row.tipo"
                                                                class="selectMenu"
                                                                name="tipo{{row.com_base_negocio_define_taxadecomissid}}">
                                                                <option value="" disabled>Selecione...</option>
                                                                <option value="Fixa">Fixa</option>
                                                                <option value="Percentual">Percentual</option>
                                                                <option value="Mista">Mista</option>
                                                            </select></td>
                                                        <td class="tdLow">
                                                            <select [(ngModel)]="row.st_SN" class="selectMenu"
                                                                name="st_SN{{row.com_base_negocio_define_taxadecomissid}}">
                                                                <option value="" disabled>Selecione...</option>
                                                                <option value="Sim">Sim</option>
                                                                <option value="Não">Não</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <button class="btn modal-save" type="button"
                                            (click)="closeModal('taxaComissao')">Fechar</button>
                                    </div>
                                </div>
                                <!-- Casas Decimais -->
                                <div *ngSwitchCase="'casasDecimais'">
                                    <div class="atvClienteBox">
                                        <form class="formComponent" (submit)="onSubmit()">
                                            <table>
                                                <thead class="tableHeader">
                                                    <tr>
                                                        <th><button type="button" class="addRow"
                                                                (click)="addRowquantas_casas_decimais_utilizar()"><i
                                                                    class="fa-solid fa-plus"></i>Adicionar
                                                                Linha</button></th>
                                                        <th>Tipo de Campo</th>
                                                        <th>Casas Decimais</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="teste">
                                                    <tr *ngFor="let row of quantas_casas_decimais_utilizarRows; trackBy: trackByFnquantas_casas_decimais_utilizar"
                                                        class="trow">
                                                        <td>
                                                            <button type="button" class="btnDelete"
                                                                (click)="deleteRowCasasDecimais(row)">
                                                                <i class="fa-solid fa-trash"></i> Remover</button>
                                                        </td>
                                                        <td>
                                                            <input type="text" [(ngModel)]="row.tipoCampo"
                                                                name="descricaoAtividade{{row.quantas_casas_decimais_utilizarid}}"
                                                                placeholder="Ex: Preços, Taxas..." />
                                                        </td>
                                                        <td>
                                                            <input type="number" [(ngModel)]="row.casas_decimais"
                                                                name="casas_decimais{{row.quantas_casas_decimais_utilizarid}}"
                                                                placeholder="0" />
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </form>
                                        <button class="btn modal-save" type="button"
                                            (click)="closeModal('casasDecimais')">Fechar</button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'formatoDataHora'">
                                    <div class="grid-cols-2 gap-2">
                                        <div class="modalInputField">
                                            <label for="qual_formato_hora_uitlizar_tela" class="required"
                                                required>Formato de Hora:</label>
                                            <select formControlName="qual_formato_hora_uitlizar_tela"
                                                [value]="'qual_formato_hora_uitlizar_tela'">
                                                <option value="" disabled>Selecione uma opção...</option>
                                                <option value="12h">12h</option>
                                                <option value="24h">24h</option>
                                            </select>
                                        </div>
                                        <div class="modalInputField">
                                            <label for="qual_formato_data_uitlizar_tela" class="required"
                                                required>Formato de Data:</label>
                                            <select formControlName="qual_formato_data_uitlizar_tela"
                                                id="qual_formato_data_uitlizar_tela">
                                                <option value="" disabled>Selecione uma opção...</option>
                                                <option value="dd-mm-aaaa">DD/MM/AAAA</option>
                                                <option value="mm-dd-aaaa">MM/DD/AAAA</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="btn modal-save" type="button"
                                        (click)="closeModal('formatoDataHora')">Fechar</button>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="btnSave">
                    <button>Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>